<div class="app-wrapper h-100">
  <header class="d-flex h-100 flex-row align-items-center">
    <svg-icon class="d-flex icon-size-20" key="generalGrid45"></svg-icon>
    <span class="size-12 mx-4 color-grey font-weight-600">AB CareClinic Documentation</span>
    <svg-icon class="d-flex size-12 color-grey" key="generalHotel2"></svg-icon>
    <span class="size-12 mx-4 color-grey font-weight-600">Templates</span>
    <img class="ml-auto mr-2" src="./../assets/user.jpg" height="20" alt="User">
    <span class="size-12 color-grey">John Snow</span>
  </header>

  bla
  <!-- <app-templates></app-templates> -->

  <footer>
    <svg-icon class="d-flex icon-size-20" key="generalGear"></svg-icon>
  </footer>
</div>