$color-grey: #6E708E;

.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 10px;
  background-color: #31345F;
}

.icon-size-20 {
  font-size: 20px;
}

.size-16 {
  font-size: 16px;
}

.size-12 {
  font-size: 12px;
}

.color-grey {
  color: $color-grey;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-400 {
  font-weight: 600;
}