@import './../helpers.scss';

.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px;
  background-color: $color-catalina-blue;
  color: $color-white;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 120px 80px auto 1fr auto;
  gap: 10px;
  padding: 10px;
  margin: 0 40px;
  .title-wrapper {
    border-bottom: 1px solid $color-grey;
    .title-main {
      position: relative;
      margin-right: 90px;
    }
    .title-main:after {
      content: '';
      position: absolute;
      bottom: 44%;
      border-bottom: 2px solid;
      width: 30px;
      z-index:0;
      right: -85px;
    }
    .section-active {
      border-bottom: 2.5px solid $color-light-blue;
    }
  }
  .description-wrapper {
    border-bottom: 1px solid $color-grey;
  }
}
