<div style="  height: 100%;
display: flex;
flex-direction: column;
color: #fff;
background-color: beige;">

  TEMPLATES
  <app-basic-info></app-basic-info>
  <app-fields-config></app-fields-config>

  <!-- <app-temporary></app-temporary> -->

  generalDashboardLevel <svg-icon class="d-flex size-20" key="generalDashboardLevel"></svg-icon>
  generalGrid45 <svg-icon class="d-flex size-20" key="generalGrid45"></svg-icon>
  generalLayout11 <svg-icon class="d-flex size-20" key="generalLayout11"></svg-icon>
  generalSpaceShip <svg-icon class="d-flex size-20" key="generalSpaceShip"></svg-icon>
  generalGear <svg-icon class="d-flex size-20" key="generalGear"></svg-icon>
  generalBook39 <svg-icon class="d-flex size-20" key="generalBook39"></svg-icon>
  generalNotes <svg-icon class="d-flex size-20" key="generalNotes"></svg-icon>
  generalGear2 <svg-icon class="d-flex size-20" key="generalGear2"></svg-icon>
  generalCalendarDate <svg-icon class="d-flex size-20" key="generalCalendarDate"></svg-icon>
  generalFileText <svg-icon class="d-flex size-20" key="generalFileText"></svg-icon>
  generalTagsStack <svg-icon class="d-flex size-20" key="generalTagsStack"></svg-icon>
  generalClock <svg-icon class="d-flex size-20" key="generalClock"></svg-icon>
  generalGear3 <svg-icon class="d-flex size-20" key="generalGear3"></svg-icon>
  generalAEdit <svg-icon class="d-flex size-20" key="generalAEdit"></svg-icon>
  generalMenu8 <svg-icon class="d-flex size-20" key="generalMenu8"></svg-icon>
  generalBook39Two <svg-icon class="d-flex size-20" key="generalBook39Two"></svg-icon>
  generalCQuestion <svg-icon class="d-flex size-20" key="generalCQuestion"></svg-icon>
  generalPadlock <svg-icon class="d-flex size-20" key="generalPadlock"></svg-icon>
  generalCalendarDate2 <svg-icon class="d-flex size-20" key="generalCalendarDate2"></svg-icon>
  generalHotel2 <svg-icon class="d-flex size-20" key="generalHotel2"></svg-icon>
  generalLeave <svg-icon class="d-flex size-20" key="generalLeave"></svg-icon>
  generalBusinessMan04 <svg-icon class="d-flex size-20" key="generalBusinessMan04"></svg-icon>
  generalAppStore <svg-icon class="d-flex size-20" key="generalAppStore"></svg-icon>
  generalAppStore2 <svg-icon class="d-flex size-20" key="generalAppStore2"></svg-icon>
  generalContrast <svg-icon class="d-flex size-20" key="generalContrast"></svg-icon>
  generalSmallDown <svg-icon class="d-flex size-20" key="generalSmallDown"></svg-icon>
  generalCompare <svg-icon class="d-flex size-20" key="generalCompare"></svg-icon>
  generalText2Two <svg-icon class="d-flex size-20" key="generalText2Two"></svg-icon>
  generalEnlarge <svg-icon class="d-flex size-20" key="generalEnlarge"></svg-icon>
  generalDrag <svg-icon class="d-flex size-20" key="generalDrag"></svg-icon>
  generalSurvey <svg-icon class="d-flex size-20" key="generalSurvey"></svg-icon>
  generalCRemove <svg-icon class="d-flex size-20" key="generalCRemove"></svg-icon>
  generalCCheck <svg-icon class="d-flex size-20" key="generalCCheck"></svg-icon>
  generalTWarning <svg-icon class="d-flex size-20" key="generalTWarning"></svg-icon>
  generalPointingUp <svg-icon class="d-flex size-20" key="generalPointingUp"></svg-icon>
  generalTriangleUp <svg-icon class="d-flex size-20" key="generalTriangleUp"></svg-icon>
  generalPointingDown <svg-icon class="d-flex size-20" key="generalPointingDown"></svg-icon>
  generalTriangleDown <svg-icon class="d-flex size-20" key="generalTriangleDown"></svg-icon>
  generalDeleteForever <svg-icon class="d-flex size-20" key="generalDeleteForever"></svg-icon>
  generalSettings <svg-icon class="d-flex size-20" key="generalSettings"></svg-icon>
  generalIDelete <svg-icon class="d-flex size-20" key="generalIDelete"></svg-icon>
  generalIAdd <svg-icon class="d-flex size-20" key="generalIAdd"></svg-icon>
  generalPreview <svg-icon class="d-flex size-20" key="generalPreview"></svg-icon>
  generalEngineStart <svg-icon class="d-flex size-20" key="generalEngineStart"></svg-icon>
  generalBulletList70 <svg-icon class="d-flex size-20" key="generalBulletList70"></svg-icon>
  generalEdit <svg-icon class="d-flex size-20" key="generalEdit"></svg-icon>
  generalFolterAdd <svg-icon class="d-flex size-20" key="generalFolterAdd"></svg-icon>

</div>