<div class="templates-wrapper">

  <header class="d-flex h-100 flex-row align-items-center">
    <svg-icon class="d-flex size-20" key="generalGrid45"></svg-icon>
    <span class="size-12 mx-4 color-grey font-weight-600">AB CareClinic Documentation</span>
    <svg-icon class="d-flex size-12 color-grey" key="generalHotel2"></svg-icon>
    <span class="size-12 mx-4 color-grey font-weight-600">Templates</span>
    <img class="ml-auto mr-2" src="./../assets/user.jpg" height="20" alt="User">
    <span class="size-12 color-grey">John Snow</span>
  </header>

  <section class="content-wrapper">
    <section class="title-wrapper d-flex flex-row align-items-center">
      <div class="d-flex flex-row align-items-center">
        <h1 class="title-main size-24">Templates</h1>
        <span class="section-active size-14 ml-5">Create</span>
        <span class="size-14 ml-5">Manage</span>
      </div>
    </section>

    <section class="description-wrapper d-flex flex-row align-items-center">
      <div class="d-flex flex-column">
        <span class="size-12">Fill all information in two sections</span>
        <span class="color-grey size-12">Creating new templates is divided in two parts</span>
      </div>
      <button type="button" class="btn btn-success ml-auto" disabled>Create</button>
    </section>

    <app-basic-info></app-basic-info>
    <app-fields-config></app-fields-config>

  </section>

    <footer>
      <svg-icon class="d-flex size-20" key="generalGear"></svg-icon>
    </footer>
</div>