@import './../../../../helpers.scss';

.available-items-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
}

.available-item {
  height: 40px;
  border: 2px solid $color-magenta-blue;
  background-color: $color-magenta-blue;
  border-radius: 4px;
  margin: 10px;
}