@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

// :host { }

html, body {
  height: 100%;
  color: #fff;
  background-color: #111;
  width: 1160px;
  margin: 0 auto;
}
