@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// :host { }

html, body {
  height: 100%;
}
